<h5>Times:</h5>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Time Field</th>
      <th>Time Value</th>
    </tr>
  </thead>
  <tbody>
    {{#relevantPeriod}}
    <tr>
      <td>Relevant Period Start:</td>
      <td>{{{low}}}</td>
    </tr>
    <tr>
      <td>Relevant Period End:</td>
      <td>{{{high}}}</td>
    </tr>
    {{/relevantPeriod}}
    {{#prevalencePeriod}}
    <tr>
      <td>Prevalence Period Start:</td>
      <td>{{{low}}}</td>
    </tr>
    <tr>
      <td>Prevalence Period End:</td>
      <td>{{{high}}}</td>
    </tr>
    {{/prevalencePeriod}}
    {{#authorDatetime}}
    <tr>
      <td>Author Date/Time:</td>
      <td>{{{authorDatetime}}}</td>
    </tr>
    {{/authorDatetime}}
    {{#resultDatetime}}
    <tr>
      <td>Result Date/Time:</td>
      <td>{{{resultDatetime}}}</td>
    </tr>
    {{/resultDatetime}}
    {{#activeDatetime}}
    <tr>
      <td>Active Date/Time:</td>
      <td>{{{activeDatetime}}}</td>
    </tr>
    {{/activeDatetime}}
    {{#incisionDatetime}}
    <tr>
      <td>Incision Date/Time:</td>
      <td>{{{incisionDatetime}}}</td>
    </tr>
    {{/incisionDatetime}}
  </tbody>
</table>